USE [master]
GO
/****** Object:  Database [SSIS_01]    Script Date: 10/20/2010 20:14:50 ******/
CREATE DATABASE [SSIS_01] ON  PRIMARY 
( NAME = N'SSIS_01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SSIS_01.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SSIS_01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\SSIS_01_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SSIS_01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SSIS_01]
GO
/****** Object:  Table [dbo].[More Than 50]    Script Date: 10/20/2010 20:14:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[More Than 50](
	[BusinessEntityID] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[JobTitle] [nvarchar](50) NULL,
	[HireDate] [date] NULL,
	[VacationHours] [smallint] NULL,
	[SickLeaveHours] [smallint] NULL,
	[NationalIDNumber] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Less Than 50]    Script Date: 10/20/2010 20:14:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Less Than 50](
	[BusinessEntityID] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[JobTitle] [nvarchar](50) NULL,
	[HireDate] [date] NULL,
	[VacationHours] [smallint] NULL,
	[SickLeaveHours] [smallint] NOT NULL,
	[NationalIDNumber] [nvarchar](15) NULL
) ON [PRIMARY]
GO
